accelerate==0.6.1
datasets==2.5.2
flax==0.6.1
gin-config==0.5.0
google-auth==2.13.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.4
googledrivedownloader==0.4
h5py==3.7.0
huggingface-hub==0.10.0
jax==0.3.23
jaxlib==0.3.22+cuda11.cudnn82
keras==2.9.0
Keras-Preprocessing==1.1.2
matplotlib==3.6.1
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mesh-tensorflow==0.1.21
nltk==3.7
numpy==1.23.3
rouge-score==0.1.2
sacrebleu==2.3.1
scikit-learn==1.1.2
scipy==1.9.3
sentencepiece==0.1.97
seqio @ git+https://github.com/google/seqio@f0c419204a47054ccade58769cc6a035a0b440d2
six==1.16.0
t5==0.9.3
t5x==0.0.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.2
tensorflow-cpu==2.9.2
tensorflow-datasets==4.7.0
tensorflow-estimator==2.9.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.27.0
tensorflow-metadata==1.10.0
tensorflow-text==2.9.0
tensorrt @ file:///home/heidi/TensorRT-8.4.3.1/python/tensorrt-8.4.3.1-cp38-none-linux_x86_64.whl
tfds-nightly==4.7.0.dev202210220046
tokenizers==0.13.1
torch==1.7.0+cu110
torchaudio==0.7.0
torchvision==0.8.1+cu110
tqdm==4.64.1
transformers==4.23.0
